.login {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login__container {
  background: var(--color-gray-0);
  width: 35rem;
  padding: 3rem;
  border-radius: var(--radius-5);
}
.login__container h2 {
  margin-bottom: 2rem;
  color: var(--color-primary);
}
.login__container .form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login__container .form div input {
  padding: 0.7rem;
  background: var(--color-gray-100);
  border-radius: var(--radius-1);
  color: var(--color-gray-900);
  width: 100%;
}
.login__container .form p {
  font-size: 0.8rem;
  margin-top: -0.5rem;
}
.login__container .form p > a {
  color: var(--color-primary);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .login__container {
    width: 95%;
    padding: 3rem 1.5rem;
  }
}
