.elections {
  margin: 5rem 0;
  width: 64rem;
  margin-inline: auto;
}
.elections__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.elections__menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .elections {
    width: var(--container-w-sm);
  }
  .elections__header h1 {
    font-size: 1.2rem;
  }
  .btn {
    padding: 0.8rem 1.2rem;
  }
}
