.results {
  margin: 5rem 0;
  width: 64rem;
  margin-inline: auto;
}
.results__container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .results {
    width: var(--container-w-sm);
  }
}
