.nav {
  background: var(--color-primary);
  display: flex;
  align-items: center;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.nav__container * {
  color: var(--color-gray-0);
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__logo img {
  height: auto;
  max-height: 3rem;
  object-fit: contain;
  display: block;
}

.nav__container div {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__container menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__container a {
  transition: var(--transform);
}
.nav__container a:hover {
  color: var(--color-primary-variant);
}
.nav__container menu a.active-link {
  border-bottom: 1.5px solid var(--color-gray-0);
}
.theme__toggle-btn {
  background: transparent;
  font-size: 1.8rem;
  transition: var(--transform);
  margin-top: 0.5rem;
}
.theme__toggle-btn:hover {
  opacity: 0.75;
}
.nav__user {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.nav__user span {
  font-size: 0.8rem;
  text-transform: capitalize;
}
.nav__user .user__icon {
  font-size: 1.5rem;
}
.nav__toggle-btn {
  background: transparent;
  font-size: 1.8rem;
  display: flex;
  display: none;
}

/* ---------- MEDIA QUERIES (Mobile) ---------- */
@media screen and (max-width: 600px) {
  .nav {
    height: 3.5rem;
  }
  .nav__container div {
    gap: 2rem;
  }

  .nav__user span {
    font-size: 0.7rem;
  }
  .nav__logo picture {
    margin-top: 0;
  }
  .nav__logo picture img {
    height: 2.8rem;
    width: auto;
  }
  .nav__container menu {
    position: fixed;
    flex-direction: column;
    top: 3.5rem;
    right: 0;
    gap: 0;
    width: 12rem;
  }
  .nav__container menu a {
    background: var(--color-gray-0);
    color: var(--color-gray-900);
    border-bottom: 1px solid var(--color-gray-200);
    width: 100%;
    display: grid;
    place-items: center;
    height: 4rem;
    box-shadow: -2rem 4rem 2rem rgba(0, 0, 0, 0.1);
  }
  .nav__toggle-btn {
    display: inline-block;
  }
}
