.password-input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.password-input {
  width: 100%;
  padding-right: 3rem; /* Space for the icon inside the textbox */
}
.toggle-password {
  position: absolute;
  right: 1rem;
  font-size: 1rem;
  color: #555;
}
.toggle-password:hover {
  color: #000;
}
